
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-th-list:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-ok-circled:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
